<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<style>
    .container{
        width:50%;
        margin: 0 auto;
    }
    .container h1{
        font-size: 2.5em;
    }
    </style>
<body>
    <div class="container">
        <h1>Registered Succesfully</h1>
        <p>You can <a href="/">Register Another one</a></p>
    </div>
</body>
</html>